<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace="UserMapper">

	<select id="login" resultType="com.ex.domain.UserVO">
		select * from tbl_user where uemail=#{uemail}
	</select>

	<insert id="writer">
		insert into tbl_board(btitle, bingredient, bcontent, bcategory) values(#{btitle}, #{bingredinet},
		#{bcontent}, #{bcategory})
	</insert>
	
	<select id="list" resultType="com.ex.domain.BoardVO">
		select * from tbl_board where uemail=#{uemail}
	</select>


</mapper>